.film-block {
  margin: 20px 0 20px 10px;
  display: flex;
  flex-direction: column;
}

h3 {
    margin: auto 0 auto 10px;
    font-size: 1.8rem;
    padding: 5px;
}

.film-carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  border-top: 0.5px solid var(--terciere);
  border-bottom: 0.5px solid var(--terciere);
  height: 220px;
  display: flex;
  flex-direction: row;

}

.film {
  margin: 4px;
}

.film-image {
    position: relative;
  width: 50vw;
  height: 100%;
  display: flex;
}

h4{
margin: auto 0 auto 20px;
font-size: 1.4rem;
}

.film-image-ban{
    display: flex;
    bottom: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 40px;
}

.film-image img {
  margin: auto;
  cursor: pointer;
  height: 99%;
  width: 99%;
}

.film-image img:hover{
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in;
}


/*RESPONSIVE -768px 1366px et +1920px */
@media screen and (min-width: 768px) {
    .film-image {
        width: 32vw;
      }

  }
  
  @media screen and (min-width: 1366px) {
    .film-image {
        width: 24vw;
      }
  }
  
  @media screen and (min-width: 1920px) {
    .film-image {
        width:200px;
      }
  }
  /*RESPONSIVE -768px 1366px et +1920px */
  