@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --background: #0e0e0e;
  --navcolor: black;
  --primary: #ffd400;
  --secondary: #a31621;
  --terciere: #818479;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--terciere);
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: var(--background);
}
